@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Libre+Barcode+39+Text&family=Rock+3D&family=Shizuru&display=swap');


/* FRONT PAGE */

body {
    background: url(../assets/images/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: 'Rock 3D', cursive;
    font-size: 300%;
    color: rgb(255, 0, 221);
    margin-bottom: 2%;
}

/* CODE BASED FROM YOUTUBE TUTORIAL https://www.youtube.com/watch?v=f4fB9Xg2JEY */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto; 
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-family: 'Barrio', cursive;
    font-size: 300%;
    padding: 2% 0;
    text-align: center;
    width: 50%;
    margin-bottom: 5%;
    text-decoration: none;
    color:rgb(28, 26, 26); 
    background: linear-gradient(90deg, rgb(11, 122, 11)0%, rgb(33, 224, 8) 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 0, 221);
    transition: transform 150ms;
    transform: scale(1.03);
}
/* QUIZ PAGE */

header {
    font-family: 'Rock 3D', cursive;
    font-size: 200%;
    color: rgb(255, 0, 221);
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
}

#start-button {
    font-family: 'Barrio', cursive;
    font-size: 170%;
    font-weight: 500;
    height: 30%;
    width: 40%;
    background-color: rgb(230, 230, 230);
    border: 0.5px solid gray;
    border-radius: 10px 10px;
    display: block;
    padding-top: 2%;
    margin: 0 auto;
}

#start-button:hover {
    background-color:rgb(240, 240, 240);   
}

#question-box {
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: black;
}

#question-h2 {
    font-family: Kanit, sans-serif;
    font-weight: 300;
    font-size: 200%;
}

#answer-box {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.answer-button {
    font-family: 'Barrio', cursive;
    font-size: 125%;
    font-weight: 400;
    height: 30%;
    width: 40%;
    margin: 1%;
    text-decoration: none;
    color:rgb(28, 26, 26); 
    background: linear-gradient(90deg, rgb(11, 122, 11)0%, rgb(33, 224, 8) 100%);
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 0, 221);
    transition: transform 150ms;
    transform: scale(1.03);
}

.nav {
    align-items: right;
}

#quiz-navigation {
    font-family: 'Barrio', cursive;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
    text-align: right;
    font-size: 200%;
    color: rgb(255, 0, 221);
}

#quiz-navigation button {
    border: 0.5px solid rgb(77, 0, 32);
    border-radius: 10px 10px;
    
}

#quiz-navigation button {
    border: 5% rgb(255, 0, 221);
    border-radius: 10% 10%;
    background: linear-gradient(90deg, rgb(11, 122, 11)0%, rgb(33, 224, 8) 100%);
    color: black;
    font-family: 'Barrio';
}
